@using lesson9.Models
@model IEnumerable<Genre>

@{
    //ViewData["Title"] = "Index";
    ViewBag.Title = "Index";
    string model = "Model";  //example

}
<div id="promotion"></div>

<h3>Browse Genres</h3>
<p>
    Select from @(model).Count() genres:
</p>

<ul>
    @foreach (Genre item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Browse", new { genre = item.Name })</li>
    }
</ul>